<div class='form-card'>
  <%= form_for [User.find(params[:user_id]), @recognition] do |f| %>
    <%= f.label :name, "What is this skill you want to recognize?" %>
    <%= f.text_field :name %>
    <%= f.label :description, "What kind of recognition do you want to give him/her?" %>
    <%= f.text_field :description %>
    <%= f.submit %>
  <% end %>
</div>  